.myButton {
	background-color:#157347;
	-webkit-border-radius:34px;
	-moz-border-radius:34px;
	border-radius:24px;
    justify-content: center;
    align-items: center;
	border:3px solid #157347;
	display:flex;
    height: 10vh;
    position:absolute;
    top: 110%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 106px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#157347;
}
.myButton:active {
	position:relative;
	top:1px;
}